/* CSS Reset */
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
    isolation: isolate;
}

/* Styles */
:root {
    --border-black: 1px solid #000000;
    --border-radius: 10px;
    --bold: 900;
    --black: #000000;
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    height: 100%;
}

body {
    padding: 16px;
}

.top-header {
    text-align: center;
    margin-bottom: 16px;
}

h1 {
    color: #ff0000;
    font-size: 5rem;
}

/* Books List */

.books-list {
    display: grid;
    justify-content: center;
    align-items: center;
}

.books-list .top-row {
    display: flex;
    align-items: center;
    gap: 16px;
}

.books-list .top-row {
    margin-bottom: 16px;
}

.books-list .header {
    background-color: rgb(206, 206, 206);
    font-weight: var(--bold);
    color: var(--black);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    border-left: var(--border-black);
    border-top: var(--border-black);
    border-right: var(--border-black);
}

.books-list>div.table>div {
    /* Divide each row into 5 columns */
    display: grid;
    grid-template-columns: repeat(5, minmax(200px, 1fr));
    align-items: center;
    justify-items: center;
}

.books-list div.table div.book {
    border-left: var(--border-black);
    border-top: var(--border-black);
    border-right: var(--border-black);
}

.books-list div.table div.book:last-child {
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    border-bottom: var(--border-black);
}

.books-list>div.table>div>div {
    /* Center the cell text */
    text-align: center;
    padding: 8px;
}

.books-list .read {
    display: flex;
    gap: 8px;
}